.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.171);
  padding: 20px;
  padding-top: 0px;
  border-radius: 10px;
}

.input {
  height: 30px;
}

.button {
  width: 80px;
  margin: auto;
  margin-top: 15px;
  background-color: rgb(230, 150, 1);
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(230, 150, 1, 0.747);
}
